@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Sofia+Sans:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #1f242d;
    --seconde-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
section {
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}

/* css  */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    cursor: default;
    color: var(--text-color);
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}
.navbar a.active,
.navbar a:hover {
    color: var(--main-color);
}
#menu-icon {
    color: var(--text-color);
    font-size: 3.6rem;
    display: none;
}
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
span {
    color: var(--main-color);
}
.home-content p {
    font-size: 1.6rem;
}
.home-img {
    width: 30vw;
}
.home-img img {
    max-width: 100%;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.btn-top,
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}
.btn-top:hover,
.social-media a:hover {
    background-color: var(--main-color);
    color: var(--seconde-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 4rem;
    color: var(--seconde-bg-color);
    transition: 0.5s ease;
}
.btn:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.about {
    background-color: var(--seconde-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    /* padding: 0 100px; */
}
.about-content {
    max-width: 60%;
}
.heading {
    font-size: 4.5rem;
    text-align: center;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.services h2 {
    margin-bottom: 5rem;
}
.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--seconde-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    border: 0.2rem solid var(--bg-color);
    transition: 0.5s ease;
}
.services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}
.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3 {
    font-size: 2.6rem;
}
.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.portfolio {
    background: var(--seconde-bg-color);
}
.portfolio h2 {
    margin-bottom: 4rem;
}
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-box {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    transition: 0.5s ease;
    cursor: pointer;
}
.portfolio-box:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.portfolio-box:hover img {
    transform: scale(1.1);
}
.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}
.portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}
.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}
.portfolio-layer h4 {
    font-size: 3rem;
}
.portfolio p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}
.portfolio a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio a i {
    font-size: 2rem;
    color: var(--seconde-bg-color);
}
.contact h2 {
    margin-bottom: 3rem;
}
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box input,
textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--seconde-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
    caret-color: var(--main-color);
}
.input-box input {
    width: 49%;
}
textarea {
    resize: none;
}
.contact form .btn {
    cursor: pointer;
    margin-top: 2rem;
}
.btn-top {
    padding: 0.5rem 1rem;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}
.btn-top.active {
    display: block;
}

/* reponsive */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    .home-img {
        width: 40vw;
    }
}
@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .portfolio,
    .services {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
    .home-img {
        width: 50vw;
    }
}
@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img {
        width: 40vw;
    }
    .home-img img {
        margin-top: 4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about-content {
        max-width: unset;
    }
    .portfolio h2,
    .services h2 {
        margin-bottom: 3rem;
    }
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
    .home-img {
        width: 50vw;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}
@media (max-width: 365px) {
    .home-img {
        width: 70vw;
    }
}
